<% sender = User.find(@message.sender_id) %>
<% recipient = User.find(@message.recipient_id) %>


<h3>From: <%= sender.username %></h3>
<h3>To: <%= @message.recipient_name %></h3>

<p><%= @message.content %> </p>
