<h2>Edit Your Profile</h2>
<%= form_for @current_user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.submit %>
<% end %>
<br>
<div class="to-from">(this doesn't work)</div>
