<p>Welcome to Lettr.</p>

<p>A way to send messages to your friends.</p>

<p>It will probably break at some point. So please be nice. I'm working on it.</p>

<p>Create an account or log in to get started.</p>
