/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
   margin: 0;
   padding: 0;
 }
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240, 240, 245);
  color: rgb(50, 50, 50);
}
header {
  margin-top: -22px;
  padding: 1%;
  background-color: rgb(200, 200, 205);
}
h1 {
  font-size: 3em;
  margin: 15px;
}
.page-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}
nav {
  text-align: center;
}
nav a {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.1em;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: rgb(100, 100, 255);
}
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 100);
}
.message {
  margin: 1%;
  border: 3px rgb(125, 125, 125) solid;
  background-color: rgb(235, 235, 235);
}
h1 {
  text-align: center;
}
.message-inbox {
  margin: 1%;
  border: 2px rgb(125, 125, 125) solid;
  background-color: rgb(225, 225, 225);
  text-decoration: none;
  color: rgb(50, 50, 50);
  float: none;
}
.to-from {
  color: rgb(50, 50, 50);
  font-size: .7em;
  margin-bottom: -3px;
  padding-left: 1%;
}
.message-name {
  text-decoration: none;
  color: rgb(100, 100, 255);
  font-size: 1.1em;
  margin-bottom: -2px;
  padding-left: 1%;
}
.message-name:hover {
  text-decoration: none;
  color: rgb(0, 0, 100);
}
.timestamp {
  font-size: .6em;
  padding-right: 1%;
  float: right;
  color: rgb(50, 50, 50);
}
.content-preview {
  font-size: 1em;
  padding: 1% 1% 4% 1%;
  background-color: rgb(245, 245, 245);
}
.content-preview a {
  text-decoration: none;
  color: rgb(50, 50, 50);
}
.delete {
  float: right;
  font-size: .9em;
}
.reply {
  padding: 0% 5% 5% 5%;
}
